<div class="form-login">

    <mat-card>
        <div class="form-column">
            <mat-form-field appearance="fill">
                <mat-label>Tài khoản</mat-label>
                <input matInput>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Mật khẩu </mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="login()">
            Đăng nhập
        </button>
    </mat-card>
</div>